@charset "utf-8";
/* CSS Document */

.search1{
	height:50px;
	width:100px;
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	font-size:20px;
}
.search3{
	height:50px;
	width:100px;
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	font-size:20px;
}
.search2{
	height:50px;
	width:600px;
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	font-size:20px;
}
.Search{
	margin:0 auto;
	list-style:none;
	height:50px;
}
.connec{
	width:150px;
	height:150px;
	border-radius:10px;
}
.connect{
	padding:10px 47.15px 18px 40px;
	
}
li{
	display: inline-block;
    padding:0 0;
    text-decoration: none;
    color: #000000;
}

a{
	text-decoration:none;
	color: #000;
}
a:hover{
	color:limegreen;
}
.tit1{
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	font-size:30px;
	text-align:center;
	color:#ff2d2d;
}
.music{
	font-family:"Comic Sans MS","幼圆","黑体",sans-serif;
	font-size:14px;
}
.charac1{
	width:180px;
	height:180px;
	border-radius:90px;
}

.charac2{
	width:180px;
	height:180px;
	border-radius:90px;
}

.charac3{
	width:180px;
	height:180px;
	border-radius:90px;
}

.charac{
	padding:20px;
	font-size:18px;
}